<div>
<!--    <pre>{{state}}</pre>-->

    <sly-style>
        #small_table.tiny-table table thead th {
            font-size: 10px;
        }
        #small_table.tiny-table table {
            font-size: 11px;
        }
        #small_tabs .el-tabs__item {
            font-size: 10px;
            font-weight: 500;
            height: 30px;
            line-height: 30px;
        }
        #small_tabs .el-tabs__header {
            background: white;
            position: fixed;
            width: 100%;
            z-index: 1;
        }

        #small_tabs .el-tabs__content {
            padding-top: 33px;
        }

    </sly-style>
    <el-tabs id="small_tabs" v-model="state.selectedTab">
        <el-tab-pane label="PRODUCT" name="product">
            <sly-table id="small_table" :options="{perPage: 10, pageSizes: [10, 20, 50, 100]}" :content="data.catalog"></sly-table>
        </el-tab-pane>
        <el-tab-pane label="CATALOG" name="catalog">
            Catalog
        </el-tab-pane>
    </el-tabs>
    <br/>

    <!--    <div class="fflex" style="align-items: stretch">-->
    <!--        <sly-card title="Input" style="width: 50%" class="mr15">-->
    <!--            <sly-field title="" description="Video project">-->
    <!--                <a slot="title" target="_blank"-->
    <!--                   :href="`/projects/${data.projectId}/datasets`">{{data.projectName}}</a>-->
    <!--                <sly-icon slot="icon" :options="{ imageUrl: `${data.projectPreviewUrl}` }"/>-->
    <!--            </sly-field>-->
    <!--        </sly-card>-->
    <!--        <sly-card title="Output" style="width: 50%;">-->
    <!--            <div v-if="data.started === true && data.progress !== 100">-->
    <!--                <div>Processing videos: {{data.progressCurrent}} / {{data.progressTotal}}</div>-->
    <!--                <el-progress :percentage="data.progress"></el-progress>-->
    <!--            </div>-->
    <!--            <sly-field v-if="data.progress === 100" title=""-->
    <!--                       description="Report has been successfully saved">-->
    <!--                <a slot="title" target="_blank" :href="`${data.reportUrl}`">{{data.reportName}}</a>-->
    <!--                <sly-icon slot="icon" :options="{ color: '#33c94c', bgColor: '#d9f7e4', rounded: false }">-->
    <!--                    <i class="zmdi zmdi-receipt"></i>-->
    <!--                </sly-icon>-->
    <!--            </sly-field>-->
    <!--        </sly-card>-->
    <!--    </div>-->

    <!--    <sly-card class="mt15"-->
    <!--              title="Quantitative stats for video objects"-->
    <!--              subtitle="for every class / for every dataset / for entire project"-->
    <!--              style="min-height: 200px;"-->
    <!--    >-->
    <!--        <sly-table v-loading="data.loading"-->
    <!--                   element-loading-text="Calculating ..."-->
    <!--                   :options="{perPage: 50, pageSizes: [10, 20, 50, 100], fixColumns: 2}"-->
    <!--                   :content="data.table">-->
    <!--        </sly-table>-->
    <!--    </sly-card>-->
</div>